.leaflet-container { height: 100%; width: 100% }

html, body{
    margin: 0;
    padding: 0;
 }
 
 h1 {
    position: absolute;
    color: white;
    padding-left: 2em;
    padding-top: 0.2em;
    z-index: 999;
    font-size: 2em;
    color: rgb(0, 175, 255);
    mix-blend-mode: difference;
 }