{% load leaflet_tags %}
{% load static %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'project.css' %}">
    <script src="{% static 'ui_reflections.js' %}"></script>
    <script src="{% static 'util.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        
        addInformationControl(map);

        // Start approx. in the center of Austria, later animate towards the user location if found
        map.flyTo(new L.LatLng(47.597274, 14.750409), 8, {"animate": false});

        function onLocationFound(e) {
          radius = Math.min(Math.max(e.coords.accuracy, 10.0), 1000.0);
          L.circle([e.coords.latitude, e.coords.longitude], {radius: radius, weight: 5}).addTo(map);
          
          map.flyTo(new L.LatLng(e.coords.latitude, e.coords.longitude), 13, {duration: 1.0});
        }
          

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(onLocationFound);
        }
        
        let url = '{{ project_url }}'
        map.on('click', function(e) {        
            var popLocation = e.latlng;
            var popup = L.popup({className: "entry-popup"})
            .setLatLng(popLocation)
            .setContent(`
            <input id="entry-button" type="button" value="Neuer Eintrag" 
                onclick="window.location.href = '/${url}/user-entry/${popLocation.lat}/${popLocation.lng}'" />
            `)
            .openOn(map);        
          });
          
          var locations = JSON.parse('{{ locations|escapejs }}');
          var popups = [];
          for (id in locations) {
            let latLng;
            L.geoJSON(JSON.parse(locations[id].fields.geom), {
              onEachFeature: function (feature, layer) {
                latLng = feature.geometry.coordinates;
              }
            }).addTo(map).bindPopup(popup).openPopup();
            var button = document.createElement("button");
            button.innerHTML = "Diesen Standort ebenfalls bewerten";
            let create_url = `/${url}/user-entry/${Number(latLng[1])}/${Number(latLng[0])}?location_entry_id=${locations[id].pk}`
            button.setAttribute("onclick", "window.location='" + create_url + "';");
            
            var popup = L.popup().setContent(button)
            popups[locations[id].pk] = popup
            L.geoJSON(JSON.parse(locations[id].fields.geom)).addTo(map).bindPopup(popup).openPopup();
          }

          var entries = JSON.parse('{{ entries|escapejs }}');

          for (id in entries) {
            // Obtain title of entry and the field-definition 
            const title = entries[id].fields.definition[0];
            const field_def = entries[id].fields.definition[1];

            marker_html = `<h2>${title}</h2>`;

            // The actual filled out field data
            const field_data = entries[id].fields.field_data;
            for (field_name in field_data) {
              // E.g. dropdown, radio, ...
              const type = field_def[field_name].type;
              const value = field_data[field_name];
              const get_displayed_html = type_display_reflections[type];
              const html = get_displayed_html(field_name, value);

              marker_html += `
                <div>
                  ${html.outerHTML}
                </div>`;
            }

            location_id = entries[id].fields.location_entry
            let current_popup = popups[location_id.toString()];
            let previous_html = current_popup.getContent() instanceof HTMLElement ? current_popup.getContent().outerHTML : current_popup.getContent() 
            current_popup.setContent(previous_html + marker_html);
          }
      });

      var unfolded = false;
      function addInformationControl(map) {
        var Button =  L.Control.extend({
          options: {
            position: 'topright'
          },
          onAdd: function (map) {
            var container = L.DomUtil.create("div", "info");
            container.type="div";
            container.title="Informationen";
            container.value = "i";

            container.classList.add("leaflet-control-layers")
            container.classList.add("leaflet-control")
            container.classList.add("leaflet-control-custom")
            container.classList.add("info-div")
            container.style.width = "45px";
            container.style.height = "45px";

            // Escape project description unsafe HTML chars
            let safe_proj_desc = escapeHtml(`{{ project_description }}`)
            console.log(safe_proj_desc);

            // Add an initally hidden div for the info text
            div = document.createElement("div");
            div.id = "info-text";
            div.innerHTML = `<div>${safe_proj_desc}</div>`;
            div.style.display = "none";
            container.appendChild(div);

            // Add a hyperlink to toggle the info text (mobile applications)
            a = document.createElement("a");
            a.id = "info-toggle";
            a.href = "#";
            a.title = "Informationen";
            container.appendChild(a);

            // Add a custom icon to the leaflet container
            svgImg = document.createElement("img");
            svgImg.id = "info-icon";
            svgImg.src = "{% static 'res/info.svg' %}";
            svgImg.width = "30";
            svgImg.height = "30";
            a.appendChild(svgImg);

            unfoldInfo  = function() {
              if (unfolded) return;
              document.getElementById("info-text").style.display = "block";
              container.style.width = "40%";
              container.style.height = "auto";
              unfolded = true;
              document.addEventListener("click", function(e) {
                if (e.target != container && e.target != a && e.target != svgImg) {
                  foldInfo();
                }
              });
            };

            foldInfo = function() {
              // hide info text
              if (!unfolded) return;
              document.getElementById("info-text").style.display = "none";
              container.style.width = "45px";
              container.style.height = "45px";
              unfolded = false;
            };

            // Mouse over event shows project description
            var unfoldEvents = {
              "mouseover": container,
              "click": a 
            }
            Object.entries(unfoldEvents).forEach( ([evt, el]) => 
              el.addEventListener(evt, unfoldInfo, false)
            );
            
            // Mouse out event shows resets
            var foldEvents = {
              "mouseout": container,
            }
            Object.entries(foldEvents).forEach( ([evt, el]) => 
              el.addEventListener(evt, foldInfo, false)
            );

            ["click"].forEach( (evt) => 
              container.addEventListener(evt, function(e) {e.stopPropagation();}, false)
            );

            return container;
          }
        });
        map.addControl(new Button());
      }
    </script>
  </head>
  <body>
    <h1>{{ project_name }} Web GIS</h1>
    {% leaflet_map "main" %}
  </body>
</html>
