{% load leaflet_tags %}
{% load static %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'project.css' %}">
    <script src="{% static 'ui_reflections.js' %}"></script>
    <script>

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;

        // Start approx. in the center of Austria, later animate towards the user location if found
        map.flyTo(new L.LatLng(47.597274, 14.750409), 8, {"animate": false});

        function onLocationFound(e) {
          radius = Math.min(Math.max(e.coords.accuracy, 10.0), 1000.0);
          L.circle([e.coords.latitude, e.coords.longitude], {radius: radius, weight: 5}).addTo(map);
          
          map.flyTo(new L.LatLng(e.coords.latitude, e.coords.longitude), 13, {duration: 1.0});
        }
          

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(onLocationFound);
        }
        
        map.on('click', function(e) {        
            var popLocation = e.latlng;
            let url = '{{ project_url }}'
            var popup = L.popup({className: "entry-popup"})
            .setLatLng(popLocation)
            .setContent(`
            <input id="entry-button" type="button" value="Neuer Eintrag" 
                onclick="window.location.href = '/${url}/user-entry/${popLocation.lat}/${popLocation.lng}'" />
            `)
            .openOn(map);        
          });

          var entries = JSON.parse('{{ entries|escapejs }}');

          for (id in entries) {
            // Obtain title of entry and the field-definition 
            const title = entries[id].fields.definition[0];
            const field_def = entries[id].fields.definition[1];

            marker_html = `<h2>${title}</h2>`;

            // The actual filled out field data
            const field_data = entries[id].fields.field_data;
            for (field_name in field_data) {
              // E.g. dropdown, radio, ...
              const type = field_def[field_name].type;
              const value = field_data[field_name];
              const get_displayed_html = type_display_reflections[type];
              const html = get_displayed_html(field_name, value);

              marker_html += `
                <div>
                  ${html.outerHTML}
                </div>`;
            }

            var marker = L.geoJSON(JSON.parse(entries[id].fields.geom)).addTo(map)
              .bindPopup(marker_html).openPopup();
          }
      });
    </script>
  </head>
  <body>
    <h1>{{ project_name }} Web GIS</h1>
    {% leaflet_map "main" %}
  </body>
</html>
