{% load leaflet_tags %}
{% load static %}
<html>
    <body>
        <h1>User Entry</h1>
        <!-- Only show dropdown options if there are actually options to choose from -->
        {% if entry_definitions|length > 1 %}
        <select name="entryDefs" id="entryDefs" onchange="loadReflections(getIdFromHtml())">
          {% for entry_def in entry_definitions %}
          <option value="{{ entry_def.id }}">{{ entry_def.name }}</option>
          {% endfor %}
        </select>
        {% endif %}
        <div>
          <form id="entry-form">
          </form>
        </div>
        {% leaflet_map "entry"  %}
        <button onclick="createEntry()">Click me</button>
      </body>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'entry.css' %}">
    <script src="{% static 'ui_reflections.js' %}"></script>
    <script>

      // Get the field definitions of current entry definition using the pk(id) from HTML
      function getIdFromHtml() {
        return document.getElementById("entryDefs").value
      }

      function createEntry() {
        var formData = new FormData(document.getElementById("entry-form"));
        
        var field_data = {};
        formData.forEach((value, key) => field_data[key] = value);

        var object = {
          "project": "{{ project_url }}",
          "definition": document.getElementById("entry-form").getAttribute("definitionid"),
          "field_data": field_data,
          "geom": marker.toGeoJSON()
        };
        var json = JSON.stringify(object);

        const request = new XMLHttpRequest();
        request.open("POST", "/{{ project_url }}/create/");
        request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}")
        // TODO: React to a unsuccessful response (e.g. a popup?)
        request.onload = () => location.href = "/{{ project_url }}/"
        request.onerror = () => alert("Etwas ist schief gelaufen, bitte probiere es später erneut.");
        request.send(json);
      }

      let entryDefinitions = JSON.parse('{{ entry_definitions_js|escapejs }}')
      function loadReflections(entryDefPk) {
        // Clear form from possible previous selection
        let form = document.getElementById('entry-form');
        form.replaceChildren();
        form.setAttribute("definitionid", entryDefPk) 
               
        // Obtain currently selected entry-definiton
        let entryDef = entryDefinitions.filter((entryDef) => {return entryDef.pk == entryDefPk})[0]
        
        // Get the field definition
        let fieldDef = entryDef.fields.field_definition

        // for each field in entry def load the gui
        for (field_name in fieldDef) {
          const type = fieldDef[field_name].type
          const params = fieldDef[field_name].params 
          const gui_elements = type_gui_reflections[type](field_name, params)
                    
          form.appendChild(gui_elements["label"])
          form.appendChild(gui_elements["input"])
        }
      }

      // Initial load
      loadReflections(entryDefinitions[0].pk)
      // Load the marker from the url params
      var marker
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Zoom to and add marker
        //map.flyTo(["{{ lat }}", "{{ lon }}"], 8)
        marker = new L.Marker(["{{ lat }}", "{{ lon }}"]);
        marker.addTo(map);
        
        // Add click event for updating the marker 
        map.on('click', function(e) { marker.setLatLng(e.latlng); });
      });
    </script>
  </head>
</html>
